{{#isBoolean}}.toBoolean{{/isBoolean}}{{#isInteger}}.toInt{{/isInteger}}{{#isDouble}}.toDouble{{/isDouble}}{{#isLong}}.toLong{{/isLong}}{{#isFloat}}.toFloat{{/isFloat}}{{#isString}}.toString{{/isString}}