package {{package}}

{{#imports}}import {{import}}
{{/imports}}

{{#useBeanValidation}}
import javax.validation.constraints._
{{/useBeanValidation}}
{{#operations}}
{{>generatedAnnotation}}
class {{classname}}ControllerImp {{#useInterfaces}}extends {{classname}}ControllerImpInterface{{/useInterfaces}} {
{{#operation}}
    {{#useInterfaces}}override {{/useInterfaces}}def {{operationId}}({{#allParams}}{{paramName}}: {{#required}}{{dataType}}{{#defaultValue}} /* = {{{defaultValue}}}*/{{/defaultValue}}{{/required}}{{^required}}Option[{{dataType}}]{{#defaultValue}} /* = {{{defaultValue}}}*/{{/defaultValue}}{{^defaultValue}} = None{{/defaultValue}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}}): {{>returnTypeUnitIfEmpty}} =
        ???

{{/operation}}
}
{{/operations}}